*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

body{
    background-color: rgb(167, 228, 207);
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 119, 255);
    width: 300px;
    min-height: 200px;
}

body h1{
    margin-bottom: 35px;
}

#counter{
    border: 1px solid black;
    border-radius: 20%;
    padding: 5px;
}

body #counter button{
    border-radius: 50%;
    border-color: rgb(221, 122, 122);
    background-color: rgb(216, 144, 144);
    width: 20px;
    border: 1px dotted black;
}

#currentNumber{
    text-decoration: underline;
}